<center>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<head>
<title>  Doug`s Tic Tac Toe Game</title>
</head>
<body>
<br>
Doug`s Tic Tac Toe<br>
Player1 is X<br>
Player2 is O<br>
<form method="post" action="board">
<table style="width:100%">
    <table align="center" width= "300" cellpadding= "30" cellspacing= "0">
<tr>
<td class="grid1"><input type="text" name="square1" id="square1" align="center" size="1"></td>
<td class="grid2"><input type="text" name="square2" id="square2" align="center" size="1"></td>
<td class="grid3"><input type="text" name="square3" id="square3" align="center" size="1"></td>
</tr>
<tr>
<td class="grid4"><input type="text" name="square4" id="square4" align="center" size="1"></td> 
<td class="grid5"><input type="text" name="square5" id="square5" align="center" size="1"></td>
<td class="grid6"><input type="text" name="square6" id="square6" align="center" size="1"></td>
</tr>
<tr>
<td class="grid7"><input type="text" name="square7" id="square7" align="center" size="1"></td>
<td class="grid8"><input type="text" name="square8" id="square8" align="center" size="1"></td>
<td class="grid9"><input type="text" name="square9" id="square9" align="center" size="1"></td>
</tr><br><br>
</form>		
</center>
</body>