<center>
<head>
<title>Doug`s Tic Tac Toe Game</title>
</head>
<body>
<br>
<div class="title">Doug`s Tic Tac Toe Game </div><br>
Player 1 is X`s - Computer is O`s
<br>
For a real challenge select Difficult button below
<br>
To let the computer go first hit the Play button<br><br>
<table align="center" width= "100" height= "100" cellpadding= "0" cellspacing= "0">	
<tr>
<td class="grid1" align="center"><form method="post" action="board">
	<input type="hidden" value="" name="grid1" id="grid1" align="center" size="1">
	<input type="submit" value=" " name="grid1" id="grid1" align="center" size="1">
</td>
<td class="grid2" align="center"><form method="post" action="board">
	<input type="hidden" value="" name="grid2" id="grid2" align="center" size="1">
	<input type="submit" value=" " name="grid2" id="grid2" align="center" size="1">
</td>
<td class="grid3" align="center"><form method="post" action="board">
	<input type="hidden" value="" name="grid3" id="grid3" align="center" size="1">
	<input type="submit" value=" " name="grid3" id="grid3" align="center" size="1">
</td>
</tr>
<tr>
<td class="grid4" align="center"><form method="post" action="board">
	<input type="hidden" value="" name="grid4" id="grid4" align="center" size="1">
	<input type="submit" value=" " name="grid4" id="grid4" align="center" size="1">
</td>
<td class="grid5" align="center"><form method="post" action="board">
	<input type="hidden" value="" name="grid5" id="grid5" align="center" size="1">
	<input type="submit" value=" " name="grid5" id="grid5" align="center" size="1">
</td>
<td class="grid6" align="center"><form method="post" action="board">
	<input type="hidden" value="" name="grid6" id="grid6" align="center" size="1">
	<input type="submit" value=" " name="grid6" id="grid6" align="center" size="1">
</td>
</tr>
<tr>
<td class="grid7" align="center"><form method="post" action="board">
	<input type="hidden" value="" name="grid7" id="grid7" align="center" size="1">
	<input type="submit" value=" " name="grid7" id="grid7" align="center" size="1">
</td>
<td class="grid8" align="center"><form method="post" action="board">
	<input type="hidden" value="" name="grid8" id="grid8" align="center" size="1">
	<input type="submit" value=" " name="grid8" id="grid8" align="center" size="1">
</td>
<td class="grid9" align="center"><form method="post" action="board">
	<input type="hidden" value="" name="grid9" id="grid9" align="center" size="1">
	<input type="submit" value=" " name="grid9" id="grid9" align="center" size="1">
</td>
</tr>
<tr>
<td>
<input type="submit" class="buttonsubmit">
</td>
</tr>
</table>
<form method="post" action="board">
    <% random_level = ["easy", "difficult"] %>
    <% random_level_pick = random_level.sample %>
    <input type="hidden" name="opponent" value= <%= random_level_pick %>>
    <input type="radio" name="opponent" value="easy">Easy<br>
   <input type="radio" name="opponent" value="difficult">Difficult<br> 
</form>
<br>
</body>