body {
  background-color: #74828F;
  color: black;
  background-image: url(/../imgs/blue.jpg);
  font-size: 20px;
  font-family: "Book Antiqua", Georgia, Garamond, 'Times New Roman', Times, serif;
}
.title {font-size: 30px;
  font-family: Baskerville, Georgia, Garamond, 'Times New Roman', Times, serif;
  font-weight: bold; color: black;
}
.request {font-size: 35px;
  font-family: "Book Antiqua", Georgia, Garamond, 'Times New Roman', Times, serif;
  font-weight: bold;
}
.list {font-size: 25px;
  font-family: "Book Antiqua", Georgia, Garamond, 'Times New Roman', Times, serif;
}
.total {font-size: 30px;
  font-family: "Book Antiqua", Georgia, Garamond, 'Times New Roman', Times, serif;
  
  
}
p {
    color: Black;
    font-size: 18px;
}

footer {
  font-size: 20px;
    border-top: solid;
    border-color: #74828F;
    text-align: center;
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 7%;
}

.footer-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-body {
  /*position: absolute;
  top: 25%;
  transform: translateX(90%);
  text-align: center;*/
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.grid1 {
  border: 5px;
    border-style: solid;
    border-top: none;
border-right-color: #000000;
border-bottom-color: #000000;
border-left: none;
}
.grid2 {
  border: 5px;
    border-style: solid;
    border-top: none;
border-right: none;
border-bottom-color: #000000;
border-left: none;
}
.grid3 {
  border: 5px;
    border-style: solid;
    border-top: none;
border-right: none;
border-bottom-color: #000000;
border-left-color: #000000;
}
.grid4 {
  border: 5px;
    border-style: solid;
    border-top: none;
border-right-color: #000000;
border-bottom: none;
border-left: none;
}
.grid5 {
  border: 5px;
    border-style: solid;
    border-top: none;
border-right: none;
border-bottom: none;
border-left: none;
}
.grid6 {
  border: 5px;
    border-style: solid;
    border-top: none;
border-right: none;
border-bottom: none;
border-left-color: #000000;
}
.grid7 {
  border: 5px;
    border-style: solid;
    border-top-color: #000000;
border-right-color: #000000;
border-bottom: none;
border-left: none;
}
.grid8 {
  border: 5px;
    border-style: solid;
    border-top-color: #000000;
border-right: none;
border-bottom: none;
border-left: none;
}
.grid9 {
  border: 5px;
    border-style: solid;
    border-top-color: #000000;
border-right: none;
border-bottom: none;
border-left-color: #000000;
}
input[type=submit] {
  border: none;
    background-color: #74828F;
    color: #000000;
    font-size:50px;
    text-align: center;
  width: 100px;
  height: 100px;
  resize: none;
    box-sizing: border-box;
    }

    .buttonSubmit
{
  
}
.refresh {
  border: none;
    background-color: #74828F;
    color: #BEB9B5;
    font-size:20px;
    text-align: center;
  width: 150px;
  height: 30px;
    }
    